*{
    margin: 0;
}
body{
    font-family: 'Source Sans Pro';
}
.topo{
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    display: flex;
}
.area-limitada{
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.pousada-dev a{
    padding-left: 10px;
    color: #5b5b59;
    font-size: 24px;
}
.links a{
    margin: auto 10px auto 10px;
    color: #5b5b59;
    font-size: 18px;
}
a{
    text-decoration: none;
}
.dev{
    color: #9cb8d8;
}
.ilha{
    background-image: url(assets/IMAGENS/img-fundo.jpg);
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
}
.tipo-do-quarto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    line-height: 60px;
    margin: 50px auto 50px auto;
    color: #494b49;
}
.tipo-do-quarto h1{
    font-weight: 500;
}
.quantos-img{
    flex-grow: 1;
    display: flex;
}
.foto{
    width: calc(1024px / 3);
    margin: 3px;
}
.info-quarto{
    margin: 50px auto 20px auto;
    display: flex;
    justify-content: center;
    color: #4c5258;
}
.areas-limitadas{
    flex-direction: column;
    display: flex;
    width: 1024px;
    margin: auto;
}
.itens{
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.row{
    display: flex;
    flex-flow: column wrap;
    gap: 30px 150px;
}
.row-reverse{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    gap: 30px 150px;
    width: 455px; 
}
.row-reverse li{
    width: 140px;
}
.rodapes{
    background-color: #65a389;
    width: 100%;
    margin: auto;
}
.rodape{
    margin: 50px auto 0 auto;
    width: 1024px;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #65a389;
    border-bottom: 2px solid #3f8e71;
}
.rodape-info{
    display: flex;
    flex-flow: row nowrap;
    color: white;
    width: calc(1024px / 4);
}
.rodape-info h1{
    font-size: 24px;
}
.paragrafo{
    background-color: #65a389;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    font-weight: bold;
}