*{
    margin: 0;
}
body{
    font-family: 'Source Sans Pro';
}
.topo{
    display: flex;
    width: 1024px;
    height: 30px;
    margin: auto;
    background-color: rgb(6, 80, 55);
}
.teste{
    background-image: ;
}
.topo a{
    justify-content: flex-end;
}